<div id="testimonials" class="parallax section db parallax-inner-bg">
    <div class="container">
        <div class="section-title row text-center">
            <div class="col-md-8 offset-md-2">
                <small>LET'S SEE OUR TESTIMONIALS</small>
                <h3>HAPPY TESTIMONIALS</h3>
            </div>
        </div><!-- end title -->

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div id="list-testimonials" class="testi-carousel owl-carousel owl-theme">
                    @{
                        if (ViewBag.Reviewer != null)
                        {
                            foreach (var i in ViewBag.Reviewer)
                            {
                                <div class="testimonial clearfix">
                                    <div class="testi-meta">
                                        <i class="fa fa-quote-right"></i>
                                        <img src="~/Uploads/testi_01.png" alt="" class="img-responsive alignright">
                                        <h4>@i.Name <small>- @i.Job</small></h4>
                                    </div>
                                    <div class="desc">
                                        <p class="lead">@i.Content</p>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div><!-- end carousel -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

<div class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <div class="footer-left">
                <p class="footer-links">
                    <a href="#">Home</a>
                    <a href="#">Blog</a>
                    <a href="#">Pricing</a>
                    <a href="#">About</a>
                    <a href="#">Faq</a>
                    <a href="#">Contact</a>
                </p>
                <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">StyleBarber</a> Design By : <a href="https://html.design/">html design</a></p>
            </div>
        </div>
    </div><!-- end container -->
</div><!-- end copyrights -->
