<div id="testimonials" class="parallax section db parallax-inner-bg">
    <div class="container">
        <div class="section-title row text-center">
            <div class="col-md-8 offset-md-2">
                <h3>Nhận xét</h3>
            </div>
        </div><!-- end title -->

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div id="list-testimonials" class="testi-carousel owl-carousel owl-theme">
                    @{
                        if (ViewBag.Reviewer != null)
                        {
                            foreach (var i in ViewBag.Reviewer)
                            {
                                <div class="testimonial clearfix">
                                    <div class="testi-meta">
                                        <i class="fa fa-quote-right"></i>
                                        <img src="~/Uploads/@i.Image" alt="" class="img-responsive alignright">
                                        <h4>@i.Name <small>- @i.Job</small></h4>
                                    </div>
                                    <div class="desc">
                                        <p class="lead">@i.Review</p>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div><!-- end carousel -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

<div class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <div class="footer-left">
                <p class="footer-links">
                    <a href="~/Home/Index">Trang chủ</a>
                    <a href="~/Service/Services">Dịch Vụ</a>
                    <a href="~/Service/Barbers">Nhân Viên</a>
                    <a href="~/Home/About">Giới Thiệu</a>
                    <a href="~/Service/Appointment">Đặt Lịch</a>
                    <a href="~/Home/Contact">Liên Hệ</a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="~/Account/ChangePass">Đổi mật khẩu</a>
                    }
                    else
                    {
                        <a href="~/Admin/Home/Index">Đăng nhập</a>
                        <a href="~/Account/Register">Đăng kí</a>
                    }
                </p>
                <p class="footer-company-name">Copyright 2020 SMBarber, Inc. All Rights Reserved</p>
            </div>
        </div>
    </div><!-- end container -->
</div><!-- end copyrights -->
