<div class="all-page-bar">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="title title-1 text-center">
                    <div class="much">
                        <img src="~/Uploads/mustache.png" />
                    </div>
                    <div class="title--heading">
                        <h1>@ViewBag.NamePage</h1>
                    </div>
                    <div class="clearfix"></div>
                    <ol class="breadcrumb">
                        <li><a href="/Home/Index">Home</a></li>
                        <li class="active">@ViewBag.NamePage</li>
                    </ol>

                </div>
                <!-- .title end -->
            </div>
        </div>
    </div>
</div><!-- end all-page-bar -->
