<div id="preloader">
    <div class="cube-wrapper">
        <div class="cube-folding">
            <span class="leaf1"></span>
            <span class="leaf2"></span>
            <span class="leaf3"></span>
            <span class="leaf4"></span>
        </div>
        <div class="mus">
            <img src="~/Images/lode-img.png" alt="" />
        </div>
        <span class="loading" data-name="Loading">StyleBarber Loading</span>
    </div>
</div>
