
@{
    ViewBag.Title = "Index";
    ViewBag.IndexNav = 0;
}
@section css{
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
}

@section scripts{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript" src="~/Scripts/report.js"></script>
}
<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <!--OVERVIEW-->
            <div class="row">
                <div class="col-6">
                    <div class="overview-wrap">
                        <h2 class="title-1">Tổng quan</h2>
                    </div>
                </div>
                <div class="col-6  text-right">
                    <div id="reportrange" style="
                            background: #fff; 
                            cursor: pointer; 
                            padding: 5px 10px; 
                            border: 1px solid #ccc; 
                            max-width: max-content;
                            margin-left:auto;
                            margin-right:1rem;">
                        <i class="fa fa-calendar"></i>&nbsp;
                        <span></span> <i class="fa fa-caret-down"></i>
                    </div>
                </div>
            </div>
            <!--COUNTING-->
            <div class="row m-t-25">
                <div class="col-lg-3">
                    <!--TOTAL-->
                    <div class="overview-item overview-item--c3">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                    <i class="zmdi zmdi-account-o"></i>
                                </div>
                                <div class="text">
                                    <h2>@ViewBag.Total</h2>
                                    <span>Service customer</span>
                                </div>
                            </div>
                            <div class="overview-chart">
                                <canvas id="widgetChart1"></canvas>
                            </div>
                        </div>
                    </div>
                    <!--TOPBARBER-->
                    <div>
                        <div>
                            <h2 class="title-1 m-b-25">Top Barber book</h2>
                            <div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
                                <div class="au-card-inner">
                                    <div class="table-responsive">
                                        <table class="table table-top-countries">
                                            <tbody id="vt-topbarbers-contaniner">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--APPOINTMENTA-->
                <div class="col-lg-9">
                    <div class="col-12">
                        <div class="table-responsive table--no-card m-b-40">
                            <table class="table table-borderless table-striped table-earning">
                                <thead>
                                    <tr>
                                        <th>date</th>
                                        <th>time</th>
                                        <th>name</th>
                                        <th>phone</th>
                                        <th>barber</th>
                                        <th>status</th>
                                    </tr>
                                </thead>
                                <tbody id="data-container-apppointment" >
                                    <tr>
                                        <td colspan="7" class="text-center">Không có dữ liệu</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end align-items-center">
                        <nav class="pr-4">
                            <ul id="vt-pagination" class="pagination pagination-sm justify-content-center">
                            </ul>
                        </nav>
                        <p class="text-secondary pl-4 "><span id="vt-total">0</span> đơn hàng</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT-->
