<header class="header-desktop">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="header-wrap">
                <div class="header-button">
                    <a href="/Account/Logout">
                        <i class="zmdi zmdi-power"></i>Logout
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

