<!-- HEADER MOBILE-->
<header  class="header-mobile d-block d-lg-none" >
    <div class="header-mobile__bar">
        <div class="container-fluid">
            <div class="header-mobile-inner">
                <a class="logo" href="index.html">
                    <img src="~/Uploads/logo.png" alt="CoolAdmin" />
                </a>
                <button class="hamburger hamburger--slider" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <nav class="navbar-mobile">
        <div class="container-fluid">
            <ul class="navbar-mobile__list list-unstyled">
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-tachometer-alt"></i>Dashboard
                    </a>
                </li>
                <li>
                    <a href="chart.html">
                        <i class="fas fa-chart-bar"></i>Charts
                    </a>
                </li>
                <li>
                    <a href="table.html">
                        <i class="fas fa-table"></i>Tables
                    </a>
                </li>
                <li>
                    <a href="form.html">
                        <i class="far fa-check-square"></i>Forms
                    </a>
                </li>
                <li>
                    <a href="calendar.html">
                        <i class="fas fa-calendar-alt"></i>Calendar
                    </a>
                </li>
                <li>
                    <a href="map.html">
                        <i class="fas fa-map-marker-alt"></i>Maps
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- END HEADER MOBILE-->
<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="~/Uploads/logo.png" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul id="my-nav" class="list-unstyled navbar__list" data-nav="@ViewBag.IndexNav">
                <li class=" has-sub">
                    <a class="js-arrow" href="~/Admin/Home/Index">
                        <i class="fas fa-tachometer-alt"></i>Tổng Quan
                    </a>
                </li>
                <li>
                    <a href="~/Admin/Barber/Barbers">
                        <i class="fas fa-users"></i>Nhân Viên
                    </a>
                </li>
                <li>
                    <a href="~/Admin/Service/Services">
                        <i class="fas fa-table"></i>Dịch Vụ
                    </a>
                </li>
                <li>
                    <a href="~/Admin/StyleHair/StyleHairs">
                        <i class="far fa-check-square"></i>Kiểu Tóc
                    </a>
                </li>
                <li>
                    <a href="~/Admin/Contact/Index">
                        <i class="fas fa-comments-o"></i>Liên hệ
                    </a>
                </li>
                <li>
                    <a href="~/Admin/Setting/Index">
                        <i class="fas fa-cog"></i>Cài Đặt
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->
