@{
    ViewBag.Title = "AddBarber";
}
@model styleBarber.Wep.ASP.Models.BarberVM
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <strong>Basic Form</strong> Elements
                </div>
                <div class="card-body card-block">
                    <form action="/Admin/Barber/AddBarber" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="file-input" class=" form-control-label">Hình Ảnh</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="file" id="file-input" name="Image" class="form-control-file" required />
                                @Html.ValidationMessageFor(m=> m.Image,"", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">Người sáng lập</label>
                            </div>
                            <div class="col col-md-9">
                                <div class="form-check">
                                    <div class="radio">
                                        <label for="radio1" class="form-check-label ">
                                            <input type="checkbox" id="radio1" name="radios" value="option1" class="form-check-input">
                                            (*Là NV không chọn)
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Tên</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="Name" class="form-control" required>
                                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="textarea-input" class=" form-control-label">Thông Tin</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <textarea name="Info" id="textarea-input" rows="9" placeholder="Nhập Thông Tin..." class="form-control" required></textarea>
                                @Html.ValidationMessageFor(m => m.Info, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="email-input" class=" form-control-label">Facebook</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="email" id="email-input" name="LinkFB" placeholder="Nhâp Facebook" class="form-control" >
                                <small class="help-block form-text">Vui Lòng Nhập Facebook</small>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="email-input" class=" form-control-label" >Email</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="email" id="email-input" name="Email" placeholder="Nhập Email" class="form-control" >
                                <small class="help-block form-text">Vui Lòng Nhập email</small>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="email-input" class=" form-control-label">Twitter</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="email" id="email-input" name="Twitter" placeholder="Nhập Twitter" class="form-control" >
                                <small class="help-block form-text">Vui Lòng Nhập Twitter</small>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="fa fa-dot-circle-o"></i> Gửi
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
            
