
@{
    ViewBag.Title = "Index";
    ViewBag.IndexNav = 5;
}
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <strong>Basic Form</strong> Elements
                </div>
                <div class="card-body card-block">
                    <form action="/Admin/Setting/Update" method="post" enctype="multipart/form-data" class="form-horizontal">
                        
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Text Input</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="@Model.About" placeholder="Text" class="form-control" required>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Text Input</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="@Model.Misson" placeholder="Text" class="form-control" required>
                                <small class="form-text text-muted">This is a help text</small>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Text Input</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="@Model.Reason" placeholder="Text" class="form-control" required>
                                <small class="form-text text-muted">This is a help text</small>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="file-multiple-input" class=" form-control-label">File input</label>
                            </div>
                            <div class="col col-md-3">
                                <img src="~/Uploads/@Model.Logo"/>
                            </div>
                            <div class="col-12 col-md-6">
                                <input type="file" id="file-multiple-input" name="@Model.Logo" multiple="" class="form-control-file" required>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
             

