@{
    ViewBag.Title = "AddServices";
}

<div class="card">
    <div class="card-header">
        <strong>Basic Form</strong> Elements
    </div>
    <div class="card-body card-block">
        <form action="/Admin/Service/AddService" method="post" enctype="multipart/form-data" class="form-horizontal">



            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="file-input" class=" form-control-label">Image</label>
                </div>
                <div class="col-12 col-md-9">
                    <input type="file" id="file-input" name="Image" class="form-control-file">
                </div>
            </div>




            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="text-input" class=" form-control-label">Name</label>
                </div>
                <div class="col-12 col-md-9">
                    <input type="text" id="text-input" name="Name" placeholder="Text" class="form-control">
                    <small class="form-text text-muted">This is a help text</small>
                </div>
            </div>





            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="textarea-input" class=" form-control-label">ServiceDescription</label>
                </div>
                <div class="col-12 col-md-9">
                    <textarea name="ServiceDescription" id="textarea-input" rows="9" placeholder="Content..." class="form-control"></textarea>
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="text-input" class=" form-control-label">Price</label>
                </div>
                <div class="col-12 col-md-9">
                    <input type="text" id="text-input" name="Price" placeholder="Text" class="form-control">
                    <small class="form-text text-muted">This is a help text</small>
                </div>
            </div>






            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-dot-circle-o"></i> Submit
                </button>
                <button type="reset" class="btn btn-danger btn-sm">
                    <i class="fa fa-ban"></i> Reset
                </button>
            </div>
        </form>



    </div>



</div>