
@{
    ViewBag.Title = "Barbers";
    ViewBag.NamePage = "Barbers";

}
@{ Html.RenderPartial("_PageBar");}


<div id="barbers" class="section lb">
    <div class="container">
        <div class="section-title row text-center">
            <div class="col-md-8 offset-md-2">
                <small>MEET OUR BABRER TEAM</small>
                <h3>OUR BARBERS</h3>
            </div>
        </div><!-- end title -->


        <div class="row dev-list text-center">


            @foreach (var b in ViewBag.Barbers)
            {
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                <div class="widget our-inner-taem clearfix">
                    <div class="t-top"></div>
                    <div class="hover-br">

                        <img src="~/Uploads/barber_team_01.jpg" alt="" class="img-responsive">

                        <div class="social-up-hover">
                            <div class="footer-social">
                                <a href="#" class="btn grd1"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="btn grd1"><i class="fa fa-github"></i></a>
                                <a href="#" class="btn grd1"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="btn grd1"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="widget-title">
                        <h3>@b.Name</h3>
                        @if (b.isFounder == true)
                        {
                            <p>Founder</p>
                        }
                        else
                        {
                            <p>Barber</p>
                        }
                    </div>
                    <!-- end title -->
                    <p>@b.Info.</p>
                </div>
                <div class="t-bottom">  </div><!--widget -->
                </div><!-- end col -->
            }

            </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

@{Html.RenderPartial("_Footer");}
