
@{
    ViewBag.Title = "Services";
    ViewBag.NamePage = "Services";
}

@{ Html.RenderPartial("_PageBar");}

<div id="services" class="section lb">
    <div class="container">
        <div class="section-title row text-center">
            <div class="col-md-8 offset-md-2">
                <small>WELCOME TO THE OUR BARBER SHOP</small>
                <h3>OUR SERVICES</h3>
                <hr class="grd1">
                <p class="lead">Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus. Sed a tellus quis mi rhoncus dignissim.</p>
            </div>
        </div><!-- end title -->

        <div class="row">
                @foreach (var s in ViewBag.Services)
                {
                    <div class="col-md-6">
                        <div class="service-wrap text-center clearfix">
                            <div class="uptop">
                                <img src="~/Uploads/barber_service_01.jpg" alt="" class="img-responsive img-rounded alignleft">
                            </div>
                            <h4>@s.Name</h4>
                            <p>@s.ServiceDescription.</p>
                        </div><!-- end issue -->                     
                     </div>
                }
        </div><!-- end col -->
                
    </div><!-- end container -->
</div><!-- end section -->

@{Html.RenderPartial("_Footer");}

