
@{
    ViewBag.Title = "About";
    ViewBag.NamePage = "About";
}

@{ Html.RenderPartial("_PageBar");}

<div class="section wb">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 text-left">
                <div class="message-box">
                    <h4>About</h4>
                    <h2>Welcome to SMBarber</h2>
                    <p class="lead">Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus. Sed a tellus quis mi rhoncus dignissim.</p>

                    <p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed vitae rutrum neque. Ut id erat sit amet libero bibendum aliquam. Donec ac egestas libero, eu bibendum risus. Phasellus et congue justo. </p>

                    <a href="#services" data-scroll class="btn btn-light btn-radius btn-brd grd1 effect-1">Learn More</a>
                </div><!-- end messagebox -->
            </div><!-- end col -->
            <div class="col-md-6 text-center">
                <div class="right-box">
                    <img class="img-fluid" src="~/Uploads/about-img.jpg" alt="" />
                </div>
            </div><!-- end col -->
        </div><!-- end row -->

        <hr class="hr1">

        <div class="row">
            <div class="col-md-12">
                <div class="about-tab">
                    <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
                        <li class="nav-item"><a class="nav-link active" href="#tab_a" data-toggle="tab">Our Mission</a></li>
                        <li class="nav-item"><a class="nav-link" href="#tab_b" data-toggle="tab">Why Us?</a></li>
                        <li class="nav-item"><a class="nav-link" href="#tab_c" data-toggle="tab">About Us</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab_a">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi scelerisque tortor mi, eget mattis velit sagittis id. Duis ornare mauris eu eros interdum, vitae finibus arcu ultricies. Donec vitae felis eleifend, dignissim erat a, pretium diam. Donec eu massa odio. Suspendisse et ornare lacus, pharetra imperdiet ligula.</p>
                            <p>Vestibulum ac quam id lorem semper condimentum. Nulla vel ligula turpis. Nullam luctus, mi nec rhoncus gravida, tortor est semper purus, a feugiat sapien odio non urna. Fusce pellentesque neque ut nisi rhoncus imperdiet. Sed eu purus vel turpis consectetur convallis. Donec a dolor tellus. Phasellus dignissim erat nec ipsum condimentum sollicitudin. </p>
                        </div>
                        <div class="tab-pane fade" id="tab_b">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                            <ul>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i>User Experince</li>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i>Full Devices</li>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i>Awesome Design</li>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i>Visual Impact</li>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i>100% Sincronized</li>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i>Custom Support</li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="tab_c">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                        </div>
                    </div><!-- tab content -->
                </div>
            </div><!-- end col -->
        </div><!-- end row -->

        <hr class="hr1">

        <div class="row text-center">
            <div class="col-lg-12">
                <div class="owl-services owl-carousel owl-theme">

                    <div class="service-widget">
                        <div class="post-media wow fadeIn">
                            <a href="~/Uploads/barber_01.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                            <img src="~/Uploads/barber_01.jpg" alt="" class="img-responsive img-rounded">
                        </div>
                        <div class="dit-box">
                            <h3>Show us Your Graft Style</h3>
                            <p>Aliquam sagittis ligula et sem lacinia, ut facilisis enim sollicitudin. Proin nisi est, convallis nec purus vitae, iaculis posuere sapien. Cum sociis natoque.</p>
                        </div>
                    </div><!-- end service -->

                    <div class="service-widget">
                        <div class="post-media wow fadeIn">
                            <a href="~/Uploads/barber_02.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                            <img src="~/Uploads/barber_02.jpg" alt="" class="img-responsive img-rounded">
                        </div>
                        <div class="dit-box">
                            <h3>Outstanding Barber Shop</h3>
                            <p>Duis at tellus at dui tincidunt scelerisque nec sed felis. Suspendisse id dolor sed leo rutrum euismod. Nullam vestibulum fermentum erat. It nam auctor. </p>
                        </div>
                    </div><!-- end service -->

                    <div class="service-widget">
                        <div class="post-media wow fadeIn">
                            <a href="~/Uploads/barber_03.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                            <img src="~/Uploads/barber_03.jpg" alt="" class="img-responsive img-rounded">
                        </div>
                        <div class="dit-box">
                            <h3>The Barber Materials</h3>
                            <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis posuere.</p>
                        </div>
                    </div><!-- end service -->

                    <div class="service-widget">
                        <div class="post-media wow fadeIn">
                            <a href="~/Uploads/barber_04.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                            <img src="~/Uploads/barber_04.jpg" alt="" class="img-responsive img-rounded">
                        </div>
                        <div class="dit-box">
                            <h3>The Barber Materials</h3>
                            <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis posuere.</p>
                        </div>
                    </div><!-- end service -->

                    <div class="service-widget">
                        <div class="post-media wow fadeIn">
                            <a href="~/Uploads/barber_05.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                            <img src="~/Uploads/barber_05.jpg" alt="" class="img-responsive img-rounded">
                        </div>
                        <div class="dit-box">
                            <h3>The Barber Materials</h3>
                            <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis posuere.</p>
                        </div>
                    </div><!-- end service -->

                    <div class="service-widget">
                        <div class="post-media wow fadeIn">
                            <a href="~/Uploads/barber_06.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                            <img src="~/Uploads/barber_06.jpg" alt="" class="img-responsive img-rounded">
                        </div>
                        <div class="dit-box">
                            <h3>The Barber Materials</h3>
                            <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis posuere.</p>
                        </div>
                    </div><!-- end service -->

                </div>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

@{Html.RenderPartial("_Footer");}





