
@{
    ViewBag.Title = "Contact";
    ViewBag.NamePage = "Liên Hệ";
}
@section scripts{
    @Scripts.Render("~/bundles/map")
}

@{ Html.RenderPartial("_PageBar");}

<div id="contact" class="section wb">
    <div class="container">
        <div class="section-title row text-center">
            <div class="col-md-8 offset-md-2">
                <small>Hãy Liên Hệ Cho Chúng Tôi Tại Đây</small>
                <h3>Liên Hệ</h3>
            </div>
        </div><!-- end title -->
        <div class="row">
            <div class="col-lg-12">
                <div class="contact_form">
                    <h4>Hello, @ViewBag.User.LastName @ViewBag.User.FirstName </h4>
                    <form action="/Home/SendContact" method="post">
                        <input type="hidden" value="@ViewBag.User.ID" name="UserID" />
                        <div class="form-group">
                            <textarea class="form-control" name="Review" rows="4" required></textarea>
                        </div>
                        <button type="submit" value="SEND" id="submit" class="btn btn-light btn-radius btn-brd grd1 btn-block subt">Liên Hệ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
