@{
    ViewBag.Title = "Thank you";
}

<!-- Page Content -->
<div class="section wb">
    <div class="container">
        <p class="text-center">Cảm ơn bạn S2</p>
        <a href="/Home/Index" >Trở về Trang chủ</a>
    </div><!-- end container -->
</div><!-- end section -->
<!--Footer-->
@{Html.RenderPartial("_Footer");}
