@{
    ViewBag.Title = "Thank you";
}

<!-- Page Content -->
<div class="section wb">
    <div class="container">
        <h4 class="text-center d-block">Cảm ơn bạn S2</h4>
        <a class="text-center d-block" href="/Home/Index" >Trở về Trang chủ</a>
    </div><!-- end container -->
</div><!-- end section -->
<!--Footer-->
@{Html.RenderPartial("_Footer");}
